# Exercise - Pandas Basics

## Topics Covered

This exercise goes over:

* Filtering by specific rows
* Aggregate Functions
* Group by

## Question

Perform an exploratory analysis focusing on data jobs in each country. Look at the average yearly salary, job count, and salary range (minimum and maximum salaries).

### Load Data

First we'll load in the data.

In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_data'] = pd.to_datetime(df['job_posted_date'])

### Create New DataFrame

Let's create a new DataFrame that filters the rows where the `job_country` is 'United States'. This is so we can only get data jobs in the US.

In [2]:
us_jobs = df[df.job_country == 'United States']
us_jobs

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_posted_data
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None,2023-06-16 13:44:15
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',...",2023-07-04 13:01:41
5,Data Engineer,GCP Data Engineer,Anywhere,via ZipRecruiter,Contractor and Temp work,True,Georgia,2023-11-07 14:01:59,False,False,United States,None,NaN,NaN,smart folks inc,"['python', 'sql', 'gcp']","{'cloud': ['gcp'], 'programming': ['python', '...",2023-11-07 14:01:59
6,Senior Data Engineer,Senior Data Engineer - GCP Cloud,"Dearborn, MI",via LinkedIn,Full-time,False,"Florida, United States",2023-03-27 13:18:18,False,False,United States,None,NaN,NaN,"Miracle Software Systems, Inc","['sql', 'python', 'java', 'sql server', 'gcp',...","{'cloud': ['gcp', 'bigquery'], 'databases': ['...",2023-03-27 13:18:18
9,Data Scientist,Data Scientist II,Anywhere,via ZipRecruiter,Full-time,True,"New York, United States",2023-04-23 13:02:57,False,False,United States,None,NaN,NaN,"Radwell International, LLC","['sql', 'python', 'r', 'mongodb', 'mongodb', '...","{'analyst_tools': ['excel'], 'cloud': ['azure'...",2023-04-23 13:02:57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785673,Data Scientist,Asset Management Data Scientist,"New York, NY",via Trabajo.org,Full-time,False,"New York, United States",2023-10-16 06:01:53,True,False,United States,None,NaN,NaN,JPMorgan Chase & Co.,None,None,2023-10-16 06:01:53
785685,Data Analyst,Data Analyst,"Indianapolis, IN",via Trabajo.org,Full-time,False,"Illinois, United States",2023-07-16 06:01:27,True,False,United States,None,NaN,NaN,"Aara Technologies, Inc","['sql', 'excel']","{'analyst_tools': ['excel'], 'programming': ['...",2023-07-16 06:01:27
785692,Data Scientist,Data Scientist- Hybrid Work Location,"Dayton, OH",via Ai-Jobs.net,Full-time,False,"Illinois, United States",2023-04-21 06:02:31,False,True,United States,year,157500.0,NaN,Tenet3,"['python', 'matlab', 'r']","{'programming': ['python', 'matlab', 'r']}",2023-04-21 06:02:31
785703,Data Analyst,Data Analyst - CRYPTOGRAPHY - Full-time,Anywhere,via Snagajob,Full-time,True,"Texas, United States",2023-01-28 06:02:55,True,False,United States,None,NaN,NaN,Axelon Services Corporation,None,None,2023-01-28 06:02:55
785705,Data Analyst,Expert Business Data Analyst - Now Hiring,"Oakland, CA",via Snagajob,Full-time,False,"California, United States",2023-01-09 06:00:25,False,False,United States,None,NaN,NaN,PG&E Corporation,"['sql', 'python', 'tableau']","{'analyst_tools': ['tableau'], 'programming': ...",2023-01-09 06:00:25

### Average Yearly Salary

Return the average yearly salary using `salary_year_avg` by the job title (`job_title_short`).

In [3]:
us_jobs.groupby('job_title_short')['salary_year_avg'].mean()

job_title_short
Business Analyst              96175.447397
Cloud Engineer               120090.900000
Data Analyst                  94553.964924
Data Engineer                134226.676753
Data Scientist               139946.707204
Machine Learning Engineer    154240.382812
Senior Data Analyst          115729.129954
Senior Data Engineer         151448.023186
Senior Data Scientist        159330.432029
Software Engineer            137964.929588
Name: salary_year_avg, dtype: float64

Instead of returning this in alphabetical order by country name. Let's order it by the highest to lowest using `sort_values()`.

In [4]:
us_jobs.groupby('job_title_short')['salary_year_avg'].mean().sort_values(ascending = False)

job_title_short
Senior Data Scientist        159330.432029
Machine Learning Engineer    154240.382812
Senior Data Engineer         151448.023186
Data Scientist               139946.707204
Software Engineer            137964.929588
Data Engineer                134226.676753
Cloud Engineer               120090.900000
Senior Data Analyst          115729.129954
Business Analyst              96175.447397
Data Analyst                  94553.964924
Name: salary_year_avg, dtype: float64

### Job Count

Count the total number of data analyst job postings for each job title to understand the job market size.

We're using `size()` to get a straightforward count of all postings per job title (including those will nulls in other columns but not the country column).

In [5]:
us_jobs.groupby('job_title_short').size().sort_values(ascending = False)

job_title_short
Data Analyst                 67816
Data Scientist               58830
Data Engineer                35080
Senior Data Scientist        12946
Senior Data Analyst          11791
Senior Data Engineer          9289
Business Analyst              7382
Software Engineer             1814
Machine Learning Engineer      921
Cloud Engineer                 423
dtype: int64

### Salary Range

Determine the minimum and maximum yearly salaries offered in each job title to assess the salary range and economic disparity.

We use `agg()` because we want to get both the `min` and `max` `salary_year_avg` by `job_title_short`.

In [6]:
us_jobs.groupby('job_title_short')['salary_year_avg'].agg(['median', 'min', 'max', 'count']).sort_values(by='median', ascending=False)

                             median      min       max  count
job_title_short
Senior Data Scientist      155000.0  55000.0  475000.0   1241
Machine Learning Engineer  150000.0  44408.5  315000.0    128
Senior Data Engineer       150000.0  45000.0  375000.0   1058
Data Scientist             130000.0  30000.0  960000.0   4553
Software Engineer          130000.0  48982.0  375000.0    157
Data Engineer              125000.0  23496.0  525000.0   2915
Cloud Engineer             116100.0  42000.0  221844.0     20
Senior Data Analyst        110000.0  35360.0  425000.0    913
Business Analyst            90000.0  35000.0  387460.0    431
Data Analyst                90000.0  25000.0  375000.0   4350